.page {
  margin: 0 auto;
  font-family: 'Satoshi', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  width: 100%;
  --primary-color: #fff;
  --black-color: #171717;
  --blue-color: #3d5ddb;
  --grey-color: #e8e8e8;
}