.comment {
  display: flex;
  justify-content: center;
}

.comment__wrapper {
  display: grid;
  grid-template-areas: 
    "comment__title comment__button-werapper"
    "comment__slider comment__slider";
  width: 1140px;
  padding-top: 120px;
  margin-bottom: 120px;
}

.comment__title {
  grid-area: comment__title;
  font-weight: 700;
  font-size: 70px;
  line-height: 74px;
  margin: 0;
  margin-bottom: 100px;
}

.comment__button-werapper {
  grid-area: comment__button-werapper;
  justify-self: end;
  display: flex;
  gap: 60px;
  align-items: center;
  height: 56px;
  margin-top: 18px;
}

.comment__previous-button {
  width: 64px;
  height: 31px;
  background: url(../../../images/previous.svg) no-repeat;
  background-size: contain;
  transition: all .3s ease;
}

.comment__previous-button:hover {
  transform: scale(1.1);
}

.comment__next-button {
  width: 119px;
  height: 56px;
  background: url(../../../images/next.svg) no-repeat;
  background-size: contain;
  transition: all .3s ease;
}

.comment__next-button:hover {
  transform: scale(0.9);
}

.comment__slider {
  grid-area: comment__slider;
  display: flex;
  gap: 29px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.comment__item {
  display: flex;
  gap: 29px;
}

.comment__slider .comment__item {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

.comment__container {
  display: flex;
  flex-direction: column;
  width: 557px;
}

.comment__quotes {
  width: 45px;
  height: 45px;
  background: url(../../../images/left-quote.svg) no-repeat;
  background-size: contain;
  margin-bottom: 32px;
}

.comment__quotes-title {
  font-weight: 500;
  font-size: 38px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 32px;
}

.comment__quotes-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 490px;
  margin: 0;
  margin-bottom: 38px;
}

.comment__account {
  width: 240px;
  display: grid;
  grid-template-areas: 
    "comment__avatar comment__name"
    "comment__avatar comment__note";
}

.comment__avatar {
  grid-area: comment__avatar;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 18px;
  object-fit: contain;
  object-position: top;
}

.comment__name {
  grid-area: comment__name;
  font-weight: 500;
  font-size: 24px;
  line-height: 25px;
  padding-top: 7px;
}

.comment__note {
  grid-area: comment__note;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}